################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ChustaSoft.Tools.SecureConfig.UnitTests/obj
/ChustaSoft.Tools.SecureConfig.UnitTests/bin
/ChustaSoft.Tools.SecureConfig/obj
/ChustaSoft.Tools.SecureConfig/bin
/ChustaSoft.Tools.SecureConfig.TestApi/Properties/launchSettings.json
/ChustaSoft.Tools.SecureConfig.TestApi/obj
/ChustaSoft.Tools.SecureConfig.TestApi/bin
